html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {display: flex;                /* activa flexbox */
    justify-content: center;      /* centra horizontalmente */
    align-items: center;          /* centra verticalmente */
    background-image: url("imagenes/fresas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.contenedor {
    position: relative;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    width: 35vw;
    height: 40vh;
    margin: auto;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;       /* Pone los elementos uno debajo del otro */
    align-items: center;          /* Centra horizontalmente el contenido */
    justify-content: center;
}

h1 {
    font-size: 1.5vw;
    margin: 20px 0;
}

.romano {
    font-size: 2vw; /* se ajusta al ancho de la pantalla */
    margin: 20px 0;
}

input, button {
    font-size: 1vw;
    padding: 1vw;
    border-radius: 5px;
    border: none;
}

button {
    background: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.mensaje {
    margin-top: 15px;
    font-weight: bold;
}

.gatito {
  position: absolute;
  width: 16%;
  height: auto;
  opacity: 0.9;
}

.arriba-izquierda { top: 5%; left: 5%; }
.arriba-derecha { top: 5%; right: 5%; }
.abajo-izquierda { bottom: 5%; left: 5%; }
.abajo-derecha { bottom: 5%; right: 5%; }

.contador-respuestas {
    margin-top: 15px;
    display: flex;
    justify-content: space-around; /* separa los contadores */
    width: 60%;
}

.correctos {
    color: #4CAF50; /* verde */
    font-weight: bold;
    font-size: 1.3em;
}

.incorrectos {
    color: #f44336; /* rojo */
    font-weight: bold;
    font-size: 1.3em;
}