html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {display: flex;                /* activa flexbox */
    justify-content: center;      /* centra horizontalmente */
    align-items: center;          /* centra verticalmente */
    background-image: url("imagenes/fresas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.contenedor {
    position: relative;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    width: 35%;
    height: 40%;
    margin: auto;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;       /* Pone los elementos uno debajo del otro */
    align-items: center;          /* Centra horizontalmente el contenido */
    justify-content: center;
}

.romano {
    font-size: 2em;
    margin: 20px 0;
}

input, button {
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

button {
    background: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.mensaje {
    margin-top: 15px;
    font-weight: bold;
}

.gatito {
  position: absolute;
  width: 17%;
  height: auto;
  opacity: 0.9;
}

.arriba-izquierda { top: 10px; left: 10px; }
.arriba-derecha { top: 10px; right: 10px; }
.abajo-izquierda { bottom: 10px; left: 10px; }
.abajo-derecha { bottom: 10px; right: 10px; }